.contactform {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0 0 4px 3px;
  margin: 16px auto;
}

.contactform_field {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
}

.contactform_field_checkbox {
  cursor: pointer;
  margin-left: 20px;
}

.contactform_field_checkbox_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.contactform_field_radio_wrapper {
  display: flex;
  justify-content: space-between;
}

.contactform_field_radio_label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contactform_field_radio {
  border: 1px solid black;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: 4px;
}

.contactform_field_radio:checked {
  background-color: #832b2b;
}

.contactform_field::placeholder {
  color: rgb(163, 152, 152);
  font-weight: 300;
}

.contactform_message_first {
  color: red;
  position: absolute;
  top: 30px;
  right: 20px;
}

.contactform_message_second {
  color: red;
  position: absolute;
  top: 146px;
  right: 20px;
}

.contactform_message_third {
  color: red;
  position: absolute;
  top: 246px;
  right: 20px;
}
.contactform_message_fourth {
  color: red;
  position: absolute;
  top: 476px;
  right: 20px;
}

.contactform_photo_label {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgb(155, 219, 195);
  /* height: 48px; */
  width: 240px;
  align-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
}
.contactform_photo_label:hover {
  background-color: rgb(114, 185, 156);
  box-shadow: 0 0 2px 2px;
  cursor: pointer;
}
.contactform_btn {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgb(238, 217, 217);
  height: 48px;
  width: 200px;
  align-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.contactform_btn:hover {
  background-color: rgb(216, 153, 153);
  box-shadow: 0 0 2px 2px;
  cursor: pointer;
}

.contact_photo_wrapper {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.contact_photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
